@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap");
@import url('https://fonts.cdnfonts.com/css/calibre');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&family=Shantell+Sans:ital,wght@1,300&display=swap');

@layer base {
  ::-webkit-scrollbar-thumb{
  @apply bg-transparent shadow-sm
  }
  ::-webkit-scrollbar{
  @apply w-3 bg-transparent
  }
  ::-webkit-scrollbar-thumb{
  @apply rounded bg-gray-700 w-10 h-10 
  }
}

html {
  scroll-behavior: smooth;
}

.landing:before {
  content: "<h1>";
  font-family: "La Belle Aurore", cursive;
  color: #515152;
  font-size: 18px;
  position: absolute;
  margin-top: -2rem;
  left: 4rem;
}
.description:before {
    content: "<p>";
    font-family: "La Belle Aurore", cursive;
    color: #515152;
    font-size: 16px;
    position: absolute;
    margin-top: -1.5rem;
    left: 4.5rem;
  }

  .description:after {
    content: '<p/>';
    font-family: 'La Belle Aurore',cursive;
    color: #515152;
    font-size: 16px;
    position: absolute;
    margin-top: 1.5rem;
    left: 4.5rem
}

.landing:after {
    content: '<h1/>';
    font-family: 'La Belle Aurore',cursive;
    color: #515152;
    font-size: 18px;
    position: absolute;
    margin-top: 1rem;
    left: 4rem
}
.content::after{
  content: "\a";
  white-space: pre;
}

/* .landing span {
    text-shadow: 0 2px  #009d68;
} */


body {
  background-color: #191e25;
  height: 100%;
}


.email-id:after {
  background-color: #fff;
  content: "";
  display: inline-block;
  height: 90px;
  position: relative;
  vertical-align: sub;
  width: 1px;
}

.side-bar:after {
  background-color: #fff;
  content: "";
  display: inline-block;
  height: 21rem;
  position: relative;
  vertical-align: sub;
  width: 1px;
}


.expertiseHeader:before {
  content: "<h2>";
  font-family: "La Belle Aurore", cursive;
  color: #515152;
  font-size: 18px;
  position: absolute;
  margin-top: -2rem;
  left: 4rem;
}

.expertiseHeader:after {
  content: '<h2/>';
  font-family: 'La Belle Aurore',cursive;
  color: #515152;
  font-size: 18px;
  position: absolute;
  margin-top: 2rem;
  left: 4rem
}

.about_me:before {
  content: "<p>";
  font-family: "La Belle Aurore", cursive;
  color: #515152;
  font-size: 16px;
  position: absolute;
  margin-top: -1rem;
  left: 4.5rem;
}

.about_me:after {
  content: '<p/>';
  font-family: 'La Belle Aurore',cursive;
  color: #515152;
  font-size: 16px;
  position: absolute;
  left: 4.5rem
}



