@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1d1d1d;
}


.email-id:after {
  background-color: #fff;
  content: "";
  display: inline-block;
  height: 90px;
  position: relative;
  vertical-align: sub;
  width: 1px;
}

.side-bar:after {
  height: 350px;
}