.landing:before {
  content: "<h1>";
  font-family: "La Belle Aurore", cursive;
  color: #515152;
  font-size: 18px;
  position: absolute;
  margin-top: -2rem;
  left: 4rem;
}
.description:before {
    content: "<p>";
    font-family: "La Belle Aurore", cursive;
    color: #515152;
    font-size: 14px;
    position: absolute;
    margin-top: -1.5rem;
    left: 4.5rem;
  }

  .description:after {
    content: '<p/>';
    font-family: 'La Belle Aurore',cursive;
    color: #515152;
    font-size: 14px;
    position: absolute;
    margin-top: 1.5rem;
    left: 4.5rem
}

.landing:after {
    content: '<h1/>';
    font-family: 'La Belle Aurore',cursive;
    color: #515152;
    font-size: 18px;
    position: absolute;
    margin-top: 1rem;
    left: 4rem
}

.landing span {
    text-shadow: 0 2px  #009d68;
}

